<div class="wrap">
  <div class="search_section">

  </div>
  <div class="filter_bar">
  </div> 
  <div class="content"> 
    <% @restaurants.each do |restaurant| %>
    <div class="display">
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
      <p><%= restaurant.district %><p>
      <p><%= restaurant.category.name %><p>
    </div>
    <% end %>
  <%= pagy_nav_compact_bootstrap(@pagy).html_safe %>
  </div>
</div>